html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 13, 145);
    width:100vw;
    height:100vh;
}

.container{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    background:transparent;
    
}

#search{
    background: blueviolet;
    width:40%;
    height:35px;
    padding:5px 15px;
    
    color: rgb(255, 255, 255);
    font-family: "Helvetica Neue",Helvetica,Arial;
    cursor: pointer;
    border:none;
    border-radius: 10px;
}
#search::placeholder{
    color: rgb(255, 255, 255);
    /* padding:10px; */
}

#search:focus {
    outline: none;
}

.profile{
    margin-top:20px;
    width:40%;
    padding:10px;
    background: blueviolet;
    display:flex;
    align-items: center;
    justify-content: between;
    border-radius:5px;
    visibility:hidden;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

@media (max-width: 768px){
    .profile{
        width:80%;
        min-width: 430px
        
    }
    img{
        width:15%
    }
    .profileDetails{
        padding-left: 10px;
    }
}

img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid blue;
    margin:10px;
    
}

.profileDetails{
    display: flex;
    flex-direction: column;
    padding-left:20px;
    color:white;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fans{
    display: flex;
    color:white;
    width:100%;
    margin-bottom:15px;
}
.fans>*{
    flex: 1;
}

.repos-topics{
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
}

.repos-topics>*{
    color:white;
    background-color: blue;
    margin: 5px;
    border-radius: 5px;
    padding:5px;
    font-size:small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}