html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin:0;
    display:grid;
    place-items: center;
    width:100vw;
    height:100vh;
    background: salmon
}

.container{
    width: 530px;
    height:530px;
    background:white;
    display:flex;
    flex-direction: column;
}
.image{
    width: 100%;
    height:90%;
    display: flex;
    overflow: hidden;
    
}
.image>*{
    width: 100%;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    transition: all 1s ease;
}

.controls{
    display: flex;
    height:10%;
    width:100%;
    justify-content: space-between;
}
.controls>*{
    width:49.5%;
    background:steelblue;
    color:white;
    border:none;
    cursor: pointer;
    transition: all 0.5s ease
}

.controls>*:hover{
    background: rgb(10, 98, 169);
}

